.column-container {
  /* background: greenyellow; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  height: 100vh;
}

.row-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  gap: 10px;
  /* border: 1px solid red; */
}

nav {
  background-color: rgb(109, 172, 151);
  height: 90px;
}

aside {
  background-color: bisque;
  flex: 3;
}

.main-footer{
    flex: 6;
}

main {
  background-color: rgb(185, 185, 52);
  flex: 7;
}

footer {
  background-color: brown;
  flex: 2;
}
.wraps{
  flex: 0 ;
}
